# Server (Elixir)
server/_build
server/cover
server/deps
server/erl_crash.dump
server/*.ez

# Client (Elm)
client/elm-stuff
client/elm.js
client/build
client/bin
client/interop/env.js

# Other
.idea
.DS_STORE
